.layout-root {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  background-color: #f6f7f7;
}

.layout-wrapper {
  display: flex;
  overflow: auto;
  width: 100vw;
  height: 100%;
  margin-bottom: 10px;
}

.layout-content {
  width: 100%;
  height: 100%;
  margin: auto;

}

@media (min-width: 900px) {
  .layout-content {
    max-width: 1200px;
  }
}

@media (min-width: 600px) {
  .layout-content {
    padding-left: 24px;
    padding-right: 24px;

  }
}